# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
build/
.next/

# =====================
# Docker
# =====================
*.log

# =====================
# Bases de datos y backups
# =====================
backups/
*.sql
*.dump
*.archive

# =====================
# IDEs y SO
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =====================
# Archivos sensibles
# =====================
.env
.env.*
*.pem
*.key

# =====================
# Otros
# =====================
coverage/
